/* Stylesheet of RPButton.tsx */

.process_btn_container {
    position: relative;

    .label {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        line-height: 2;
        font-size: 18px;
        font-weight: bolder;
    }

    .process_btn {
        margin: 0 auto;
        margin-top: 21px;
        height: 72px;
        width: 72px;
    
        .icon {
            font-size: 32px;
        }
    }
}

/* set Media Queries for different display sizes and orientation of devices */