/* Stylesheet of PlaygroundToolbar.tsx */

.playground_toolbar {
  display: flex;
  height: 72px;
  --background: var(--ion-color-primeColor);

  .title {
    display: flex;
    font-size: 21px;
    text-align: center;
    align-items: center;
    justify-content: center;

    .icon {
      margin: 0px 12px 0px 0px;
      color: var(--ion-color-secondColor);
      font-size: 28px;
    }

    .first_span {
      color: var(--ion-color-secondTextColor);
      font-weight: lighter;
    }

    .second_span {
      color: var(--ion-color-secondColor);
      font-weight: bold;
    }
  }
}

/* set Media Queries for different display sizes and orientation of devices */
@media screen and (min-width: 512px) {
  .playground_toolbar {
    height: 82px;

    .title {
      margin: 12px 0px 0px 24px;
      justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 1920px) {
  .playground_toolbar {
    .title {
      margin: 6px 0px 0px 21px;
      font-size: 21px;

      .icon {
        font-size: 32px;
      }
    }
  }
}
