/* Stylesheet of OptionFabContainer.tsx */

/* Animation */
@import 'src/shared/animation/animation.scss';

.fab_list_btn {
  right: 12px;
  bottom: 12px;

  .fab_btn {
    --background: var(--linear-gradient);
    animation: slide-right $right;

    .icon {
      color: #ffffff;
    }
  }

  .fab_list_btn {
    height: 48px;
    width: 48px;
    --color: #ffffff;
  }
}
