/* Stylesheet of ResultDetailContent.tsx */

.result_detail_content {
    margin: 0 auto;
    margin-top: 32px;
    width: 90%;
    color: var(--ion-color-secondTextColor);
    
    .grid_container {
        hr {
            height: 2.5px;
            background: #445168;
        }
        .row {
            .col {
                .detail {
                    span {
                        margin: 0px 12px 0px 0px;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}

.label {
    margin: 32px 0px 21px 0px;
    color: var(--ion-color-secondTextColor);
}