/* Stylesheet of BlobUploadFabBtn.tsx */

/* Animation */
@import 'src/shared/animation/animation.scss';

.blob_upload_fab_btn {
    position: absolute;
    right: 12px;
    bottom: 12px;
    --background: var(--linear-gradient);
    animation: slide-right $right;
}